@import "tailwindcss";

@theme {
	--text-tiny: 10px;
	--color-yellow: #ffc107;
	--color-primary-blue: #0c8ce9;
	--color-primary-blue-sky: #68b6ef;
	--color-primary-blue-hover: #0a78c7;
	--color-main: #f5f7fa;
	--color-surface: #ffffff;
	--color-primary-text: #1c1c1e;
	--color-secondary-text: #6b7280;
	--color-divider: #d1d5db;
	--color-grass: #4caf50;
	--color-amber: #f59e0b;
	--color-fire: #dc3545;

	--color-background: #f2f4f7;
	--color-section: #f8fafc;
	--color-panel: #f8fafc;
}

html {
	width: 100%;
	height: 100%;
	background: #f2f4f7;
}

.hidden-scrollbar {
	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: none; /* Firefox */
}

/* ukrywa scrollbar w Chrome, Safari i Opera */
.hidden-scrollbar::-webkit-scrollbar {
	display: none;
}
