@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--text-tiny: 10px;
	--color-yellow: #ffc107;
	--color-primary-blue: #0c8ce9;
	--color-primary-blue-sky: #68b6ef;
	--color-primary-blue-hover: #0a78c7;
	--color-main: #f5f7fa;
	--color-surface: #ffffff;
	--color-primary-text: #1c1c1e;
	--color-secondary-text: #6b7280;
	--color-divider: #d1d5db;
	--color-grass: #4caf50;
	--color-amber: #f59e0b;
	--color-fire: #dc3545;

	--color-background: #f2f4f7;
	--color-section: #f8fafc;
	--color-panel: #f8fafc;

	--color-dark-primary-purple:#8C00FF;
	--color-dark-primary-purple-hover:#450693;
	--color-dark-bg: #37353E;
	--color-dark-section: #44444E;
	
}

@layer base {
	html {
		width: 100%;
		height: 100%;
		background: #f2f4f7;
	}
	
	html.dark {
		background: #37353E;
	}
}


.hidden-scrollbar {
	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: none; /* Firefox */
}

/* ukrywa scrollbar w Chrome, Safari i Opera */
.hidden-scrollbar::-webkit-scrollbar {
	display: none;
}

.progress-bar {
	width: 100%;
	height: 12px;
	border: none;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: #e5e7eb;
	appearance: none;
}

.progress-bar::-webkit-progress-bar {
	background-color: #e5e7eb;
	border-radius: 0.5rem;
}

.progress-bar::-webkit-progress-value {
	background-color: #68b6ef;
	transition: width 200ms ease;
	border-radius: 0.5rem;
}

.progress-bar::-moz-progress-bar {
	background-color: #68b6ef;
	transition: width 200ms ease;
	border-radius: 0.5rem;
}